-var Page = {title:'Welcome to Rover - Rover is an upcoming international brand of writing instruments from India.', section:'Home', type: 'home'}
-var Meta = {description : 'Rover is an upcoming international brand of writing instruments from India. Ballpoint pens, Gel ink pens, Metal Pens and many other kinds of writing instruments are developed and produced at our manufacturing plant located in Umbergaon, Gujarat.', keywords : 'Rover, Ball Pen, Collection Pen, Ballpoint pens, Gel pens, Metal Pens, Rover Besto, Rover Exo, Rover Spektra, Rover Glide, Rover Kriss, Rover Trigno, Rover Alpha, Rover Prisma Gel, Rover Majetic, Rover X-flow'}
-var menu = {'Funds & Planning': 'funds_planning.html', 'Investor Education': 'investor_education.html', 'Insights': 'insights.html', 'Resources': 'resources.html', 'Investor Solutions': 'investor_solutions.html'};
//- For Product Pen Listing Variable. Data come from data.json file.

//- for Default active for nav