// build:js js/jquery.min.js
script(src='js/jquery.min.js')
// endbuild
// build:js js/bootstrap.min.js
script(src='js/bootstrap.min.js')
// endbuild
// build:js js/jquery.mousewheel-3.0.6.pack.js
script(src='js/jquery.mousewheel-3.0.6.pack.js')
// endbuild
// build:js js/jquery.touchSwipe.min.js
script(src='js/jquery.touchSwipe.min.js')
// endbuild
// build:js js/owl.carousel.min.js
script(src='js/owl.carousel.min.js')
// endbuild
// build:js js/scripts.js
script(src='js/scripts.js')
// endbuild
