footer
	.footer
		.container
			.row
				.col-xs-12.col-sm-2
					ul
						li
							a OVERVIEW
						li
							a(href="#") About Us
						li
							a(href="#") Feedback
						li
							a(href="#") Contact Us
						li
							a(href="#") FAQs
				.col-xs-12.col-sm-2
					ul
						li
							a ONLINE SERVICES
						li
							a(href="#") Roadside Assistance
						li
							a(href="#") Trustmarked used cars
						li
							a(href="#") Advertise with Us
				.col-xs-12.col-sm-3
					ul
						li
							a OTHERS
						li
							a(href="#") Careers
						li
							a(href="#") Customer Care
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms & Conditions
				.col-xs-12.col-sm-5
					h3 CONNECT WITH US
					h4 +918080430400
					h4 
						a(href="mailto:sales@cartz.co.in") sales@cartz.co.in
					ul.social
						li
							a.facebook(href="#") Facebook
						li
							a.twitter(href="#") Twitter
						li
							a.instagram(href="#") Instagram
	.footer-bottom
		.container
			p © Copyright 2008-2017 Powered By Cartz Online Services Pvt. Ltd. All Rights Reserved.
